<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="emojistyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Schermata del primo caricamento -->
    <div id="wait-load"></div>
    <div id="root" :class="{'dark-theme':darkTheme}">
        <div id="contacts">
            <!-- prima colonna -->
            <div id="profile">
                <div id="add-new-contact-box">
                    <i @click="showNewBox(false)" class="fas fa-arrow-left"></i>
                    <input id="add-new-contact" type="text" @keyup.enter="addNewContact()">
                    <i @click="addNewContact()" class="fas fa-plus"></i>
                </div>
                <!-- riga imm profilo e opzioni -->
                <div id="user-profile-picture" class="profile-picture" :class="{'dark-theme':darkTheme}">
                    <input @change="sendImage(chat,'background')" type="file" name="" id="input-image-profile">
                </div>
                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i @click="showNewBox(true)" id="add-new-contact-icons" class="fas fa-user-plus"></i>
                    <i @click="openSettings()" id="settings" class="fas fa-ellipsis-v">
                        <div id="settings-box" class="standard-settings-box">
                            <span @click="changeFont()" id="change-font">Change font</span>
                            <span @click="changeTheme()" id="change-theme">Change Theme</span>
                        </div>
                    </i>
                </div>
            </div>

            <div id="notification-alert">
                <span class="alert-icon">
                    <i class="fas fa-bell-slash"></i>
                </span>
                <div class="turn-on-notification">
                    <p>Get notified of new messages</p>
                    <span>Turn on desktop notifications <i class="fas fa-angle-right"></i> </span>
                </div>
            </div>

            <div id="search-chat">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input v-model="searchBar" @keyup="searchContact()" type="text"
                        placeholder="Search or start new chat">
                </div>
            </div>

            <div id="all-chat">
                <!-- lista di tutti i contatti -->
                <div v-if="elemento.visible" v-for="(elemento,index) in contacts" @click="openChat(elemento)"
                    class="contacts-box">
                    <div :class="{'focus-contact': elemento.chatOpen}" class="chat-contact">
                        <div id="contact-box">
                            <div class="profile-picture-contact" :class="{'dark-theme':darkTheme}">
                                <img :src="'img/avatar/avatar'+elemento.avatar+'.jpg'" alt="">
                            </div>
                            <div class="contact-name">
                                <p>{{elemento.name}}</p>
                                <span v-if="elemento.messages.length > 0">{{
                                    elemento.messages[elemento.messages.length - 1].text}}</span>
                            </div>
                        </div>
                        <p class="time" v-if="elemento.messages.length > 0">{{elemento.lastMessage}}
                        </p>
                    </div>
                </div>
            </div>
        </div> <!-- CONTACTS -->

        <!-- fa un display di qualcosa al primo accesso -->
        <div class="standard-box first-access" v-if="chat === null"></div>

        <!-- seconda colonna -->
        <div v-else id="your-chat" class="standard-box">
            <!-- prima riga di nome e info contatto chat aperta -->
            <div id="chat-name" class="standard-header">
                <div @click="showInfoProfile(chat)" class="profile-contact">
                    <div class="profile-picture-contact" :class="{'dark-theme':darkTheme}">
                        <img :src="'img/avatar/avatar'+chat.avatar+'.jpg'" alt="">
                    </div>
                    <div>
                        <p>{{chat.name}}</p>
                        <span class="typing">typing</span>
                    </div>
                </div>
                <div class="icons">
                    <i class="fas fa-search"></i>
                    <i @click="openChatSettings()" id="chat-settings" class="fas fa-ellipsis-v"> <!--@click="openChatSettings()"-->
                        <div id="chat-settings-box" class="standard-settings-box">
                            <span @click="deleteChat(chat)" id="change-font">Elimina chat</span>
                            <span @click="deleteContact(chat)" id="change-theme">Elimina Contatto</span>
                        </div>
                    </i>
                </div>
            </div>

            <div class="filter-background"></div>
            <!-- seconda riga, tutta la chat con il contatto -->
            <div id="chat">
                <div @mouseenter="showMessageMenu(index,true)" @mouseleave="showMessageMenu(index,false)"
                    v-for="(message,index) in chat.messages">
                    <div v-if="chat.messages.length > 0" class="mess" :class="message.status">
                        <div :class="{'dark-theme':darkTheme}">
                            <img v-if="message.image != null" class="image-sent" :src="message.image" alt="">
                            <p :class="{'color-white':darkTheme}" v-else>{{message.text}}</p>
                        </div>
                        <span class="time">
                            {{message.date.$H}}:{{message.date.$m}}
                        </span>
                        <div :class="message.status" class="message-menu">
                            <span @click="showInfo(message)" class="message-info">Message Info</span>
                            <span @click="deleteMessage(message,index)" class="delete-message">Delete message</span>
                        </div>
                        <span @click="messageMenu(index)" class="message-button">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- terza riga, l'input di imm, emoji e testo -->
            <div id="chat-input">
                <emoji-picker @emoji="append" :search="search">
                    <div class="emoji-invoker" slot="emoji-invoker" slot-scope="{ events: { click: clickEvent } }"
                        @click.stop="clickEvent">
                        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z" />
                        </svg>
                    </div>
                    <div slot="emoji-picker" slot-scope="{ emojis, insert, display }">
                        <div class="emoji-picker">
                            <div id="no-dark-emoji" :class="{'dark-theme':darkTheme}">
                                <div class="emoji-picker__search">
                                    <input type="text" v-model="search">
                                </div>
                                <div>
                                    <div v-for="(emojiGroup, category) in emojis" :key="category">
                                        <h5>{{ category }}</h5>
                                        <div class="emojis">
                                            <span v-for="(emoji, emojiName) in emojiGroup" :key="emojiName"
                                                @click="insert(emoji)" :title="emojiName">{{ emoji }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </emoji-picker>
                <input @change="sendImage(chat,'send')" type="file" name="" id="input-image">
                <input v-model="inputText" @keyup.enter="writeMessage(chat)" @keyup="showSendIcons()"
                :class="{'dark-theme':darkTheme}" class="type-message" type="text" placeholder="Type a message">
                <i @click="writeMessage(chat)" id="send-icons-plane" class="fas fa-paper-plane"></i>
                <i id="mic-icons-plane" class="fas fa-microphone"></i>
            </div>
        </div>

        <!-- box info messaggio sul click su un mess specifico -->
        <div v-if="infoMess" id="show-info-box" class="standard-box">
            <div class="info-box standard-header">
                <i @click="switchInfo('message')" class="fas fa-times"></i>
                <p>Message Info</p>
            </div>
            <div class="filter-background"></div>
            <div class="info-message">
                <div :class="infoMessage.status" class="mess margin-info">
                    <img v-if="infoMessage.image != null" class="image-sent" :src="infoMessage.image" alt="">
                    <p v-else>{{infoMessage.text}}</p>
                </div>
            </div>
            <div id="info-time" class="standard-info-box">
                <div class="info-time-box info-standard-box">
                    <p>Delivered</p>
                    <span>{{infoMessage.date}}</span>
                </div>
            </div>
        </div>

        <!-- box info contatto al click sulla riga del contatto
            dentro la chat -->
        <div v-if="infoProfile" id="show-profile-info-box" class="standard-box">
            <div class="info-box standard-header">
                <i @click="switchInfo('profile')" class="fas fa-times"></i>
                <p>Contact Info</p>
            </div>
            <div class="info-contact info-contact-profile">
                <div  :class="{'dark-theme':darkTheme}" id="info-profile-picture">
                    <img v-if="infoProfileObj.image" :src="'img/avatar/avatar'+infoProfileObj.image+'.jpg'" alt="">
                </div>
                <p>{{infoProfileObj.name}}</p>
            </div>
            <div id="info-profile-box" class="standard-info-box">
                <div class="info-about-box info-standard-box">
                    <p>About</p>
                    <p>{{infoProfileObj.statusText}}</p>
                </div>
                <div class="info-media-box info-standard-box">
                    <p>All Media</p>
                    <div  :class="{'dark-theme':darkTheme}" v-for="elemento in infoProfileObj.imageSent" class="image-sent-box">
                        <img :src="elemento" alt="">
                    </div>
                </div>
            </div>
        </div>



    </div> <!-- ROOT -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/vue-emoji-picker/dist/vue-emoji-picker.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/locale/it.js"></script>
    <script>dayjs.locale('it')</script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>
    <script src="https://kit.fontawesome.com/8f1b5398cd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>