<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="root">
        <div id="contacts">
            <div id="profile">
                <div class="profile-picture"></div>
                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div id="notification-alert">
                <span class="alert-icon">
                    <i class="fas fa-bell-slash"></i>
                </span>
                <div class="turn-on-notification">
                    <p>Get notified of new messages</p>
                    <span>Turn on desktop notifications <i class="fas fa-angle-right"></i> </span>
                </div>
            </div>

            <div id="search-chat">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search or start new chat">
                </div>
            </div>

            <div id="all-chat">
                <div v-for="(elemento,index) in contacts" @click="openChat(elemento)" class="contacts">
                    <div class="chat-contact">
                        <div class="profile-picture-contact">
                            <img :src="'img/avatar/avatar'+elemento.avatar+'.jpg'" alt="">
                        </div>
                        <div class="contact-name">
                            <p>{{elemento.name}}</p>
                            <span>{{elemento.messages[elemento.messages.length - 1].text}}</span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div> <!-- CONTACTS -->

        <div id="your-chat">
            <div id="chat-name">
                    <div class="profile-contact">
                        <div class="profile-picture-contact">
                            <img :src="'img/avatar/avatar'+chat.avatar+'.jpg'" alt="">
                        </div>
                        <p>{{chat.name}}</p>
                    </div>
                    <div class="icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
            </div>

            <div id="chat">
                <div v-for="message in chat.messages" class="mess" :class="message.status">
                        {{message.text}}
                </div> 
            </div>

            <div id="chat-input">
                <i class="far fa-laugh"></i>
                <i class="fas fa-paperclip"></i>
                <input class="type-message" type="text" placeholder="Type a message">
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div> <!-- ROOT -->
    <script src="https://kit.fontawesome.com/8f1b5398cd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>

<!--
Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi) e
dall’interlocutore (bianco) assegnando due classi CSS diverse
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare
nome e immagine di ogni contatto
-->