<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="root">
        <div id="contacts">
            <div id="profile">
                <div id="user-profile-picture" class="profile-picture">
                    <input @change ="sendImage(chat,'background')" type="file" name="" id="input-image-profile">
                </div>
                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div id="notification-alert">
                <span class="alert-icon">
                    <i class="fas fa-bell-slash"></i>
                </span>
                <div class="turn-on-notification">
                    <p>Get notified of new messages</p>
                    <span>Turn on desktop notifications <i class="fas fa-angle-right"></i> </span>
                </div>
            </div>

            <div id="search-chat">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input v-model="searchBar" @keyup="searchContact()" type="text"
                        placeholder="Search or start new chat">
                </div>
            </div>

            <div id="all-chat">
                <div v-if="elemento.visible" v-for="(elemento,index) in contacts" @click="openChat(elemento)"
                    class="contacts-box">
                    <div :class="{'focus-contact': elemento.chatOpen}" class="chat-contact">
                        <div id="contact-box">
                            <div class="profile-picture-contact">
                                <img :src="'img/avatar/avatar'+elemento.avatar+'.jpg'" alt="">
                            </div>
                            <div class="contact-name">
                                <p>{{elemento.name}}</p>
                                <span v-if="elemento.messages.length > 0">{{elemento.messages[elemento.messages.length -
                                    1].text}}</span>
                            </div>
                        </div>
                        <p class="time" v-if="elemento.messages.length > 0">{{elemento.lastMessage}}
                        </p>
                    </div>
                </div>
            </div>
        </div> <!-- CONTACTS -->

        <div id="your-chat">
            <div id="chat-name">
                <div class="profile-contact">
                    <div class="profile-picture-contact">
                        <img :src="'img/avatar/avatar'+chat.avatar+'.jpg'" alt="">
                    </div>
                    <div>
                        <p>{{chat.name}}</p>
                        <span class="typing">typing</span>
                    </div>
                </div>
                <div class="icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div class="filter-background"></div>
            <div id="chat">
                <div @mouseenter="showMessageMenu(index,true)" @mouseleave="showMessageMenu(index,false)"
                    v-for="(message,index) in chat.messages">
                    <div v-if="chat.messages.length > 0" class="mess" :class="message.status">
                        <div>
                            {{message.text}}
                            <img v-if="message.image != null" class="image-sent" :src="message.image" alt="">
                        </div>
                        <span class="time">
                            {{message.date.$H}}:{{message.date.$m}}
                        </span>
                        <div :class="message.status" class="message-menu">
                            <span @click="showInfo(message)" class="message-info">Message Info</span>
                            <span @click="deleteMessage(message,index)" class="delete-message">Delete message</span>
                        </div>
                        <span @click="messageMenu(index)" class="message-button">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div id="chat-input">
                <i class="far fa-laugh"></i>
                <input @change ="sendImage(chat,'send')" type="file" name="" id="input-image">
                <input v-model="inputText" @keyup.enter="writeMessage(chat)" class="type-message" type="text"
                    placeholder="Type a message">
                <i class="fas fa-microphone"></i>
            </div>
        </div>

        <div v-if="info" id="show-info-box">
            <div id="chat-name" class="info-box">
                <i @click="switchInfo()" class="fas fa-times"></i>
                <p>Message Info</p>
            </div>
            <div class="filter-background"></div>
            <div class="info-message">
                <div :class="infoMessage.status" class="mess margin-info">
                    {{infoMessage.text}}
                    <img v-if="infoMessage.image != null" class="image-sent" :src="infoMessage.image" alt="">
                </div>
            </div>
            <div class="info-time">
                <div class="info-time-box">
                    <p>Delivered</p>
                <span>{{infoMessage.date}}</span>
                </div>
            </div>
        </div>

    </div> <!-- ROOT -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/dayjs@1.8.20/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/locale/zh-cn.js"></script>
    <script>dayjs.locale('zh-cn')</script>
    <script src="https://unpkg.com/dayjs@1.8.20/plugin/customParseFormat.js"></script>
    <script src="https://kit.fontawesome.com/8f1b5398cd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>