* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-sent{
    position: static;
    transform: none;
    max-width:300px;
}

[id*="input-image"]{
    width: 20px;
    flex: none;
    position: relative;
}
input[id*="input-image"]::after {
    content: "\f0c6";
    font-family: fontAwesome;
    width: 50px;
    height: 50px;
    background-color: #ededed;
    position: absolute;
    top: 0;
    color: grey;
    font-size: 1.5em;
    cursor: pointer;
    left: 0;
}

#input-image-profile{
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
}

input#input-image-profile::after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 100%;
}

span {
    font-size: 0.8em;
    display: inline-block;
}

i {
    font-size: 1.2em;
    cursor: pointer;
}

#root {
    display: flex;
    height: 100vh;
    min-height: 400px;
    width: 100vw;
}

#contacts {
    display: inline-block;
    min-width: 300px;
    height: 100%;
    background-color: skyblue;
}

.contacts-box{
    position: relative;
    cursor: pointer;
}

.contacts-box::after{
    content: "";
    position: absolute;
    z-index: 999;
    width: 75%;
    height: 1%;
    top: 98%;
    left: 25%;
    border-bottom: 1px solid rgb(224, 224, 224);
}

#profile {
    /* display: inline-block; */
    width: 100%;
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[class*="profile-picture"] {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-image: url(img/profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.icons {
    color: gray;
    margin-right: 30px;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

#notification-alert {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 110px;
    background-color: #91dfff
}

#notification-alert>* {
    margin-left: 20px;
}

.alert-icon {
    background-color: white;
    color: skyblue;
    border-radius: 50%;
    padding: 15px;
}

/* .alert-icon .turn-on-notification*/

#search-chat {
    /* display: inline-block; */
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #ededed;
}

#search-chat .search {
    flex: 1 0 auto;
    padding: 5px 15px;
    display: flex;
    background-color: white;
    border-radius: 30px;
}

#search-chat .search i {
    font-size: 0.8em;
    line-height: 2;
    cursor: pointer;
}

#search-chat .search input, input {
    margin-left: 20px;
    flex: 1 0 auto;
    border: none transparent;
    outline: none;
}

#all-chat {
    /* display: inline-block; */
    width: 100%;
    height: calc(100% - 60px - 50px - 110px);
    background-color: white;
    overflow: auto;
}

#all-chat .chat-contact {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#all-chat .chat-contact:hover {
    background-color: rgb(243, 243, 243);
}

#all-chat .chat-contact.focus-contact {
    background-color: rgb(224, 224, 224);
}

#all-chat span {
    width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#contact-box {
    display: flex;
    align-items: center;
}

#all-chat .time {
    margin: 0px 5px;
    font-size: 12px;
}

hr {
    width: calc(100% - 75px);
    left: 75px;
    position: relative;
}

#all-chat .profile-picture-contact {
    background-color: white;
    background-image: unset;
    color: skyblue;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    flex: 0 0 50px;
}

.contact-name {
    margin-left: 10px;
    padding: 15px 0;
}

.first-access{
    background-image: url(img/start-chat.png);
    background-size: cover;
    background-position: center center;
}

.standard-box{
    border-left: 1px solid #c1c1c1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #e5ddd5;
}

.standard-header {
    z-index: 333;
    width: 100%;
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-name{
    cursor: pointer;
}

#chat-name .icons {
    width: 55px;
    margin: 0 30px;
}

#your-chat .profile-picture-contact {
    background-color: white;
    background-image: unset;
    border-radius: 50%;
    padding: 15px;
    position: relative;
    overflow: hidden;
}

#show-profile-info-box{
    overflow: auto;
    z-index: 999;
}

.profile-contact {
    display: flex;
    align-items: center;
    width: 120px;
}

.profile-contact>* {
    flex: 0 0 50px;
}

.profile-contact > * {
    margin: 0 10px;
}

.profile-contact span {
    color: grey;
    display: none;
}

.profile-contact span::after {
    content: "";
    animation: addDots 1s infinite;
}

@keyframes addDots {
    0%{
        content: "";
    }
    25%{
        content: ".";
    }
    50%{
        content: "..";
    }
    100%{
        content: "...";
    }
}

.filter-background {
    background-image: url(img/sfondo.png);
    filter: brightness(0.7) opacity(0.4);
    width: 100%;
    position: absolute;
    height: 100%;
}

#chat{
    /* display: inline-block; */
    width: 100%;
    min-height: 100px;
    height: calc(100% - 60px - 60px);
    overflow: auto;
    position: relative;
}

.info-message {
    max-height: 40%;
    width: 100%;
    overflow: auto;
    position: relative;
}

.info-contact{
    height: 300px;
    width: 100%;
    overflow: auto;
    position: relative;
    background-color: white;
}

.info-contact-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    flex: 0 0 auto;
}

#info-profile-picture {
    background-color: black;
    width: 180px;
    position: relative;
    overflow: hidden;
    height: 180px;
    border-radius: 50%;
}

#chat .time {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
}

.mess {
    background-color: red;
    min-width: 40px;
    min-height: 30px;
    float: right;
    clear: both;
    overflow-wrap: anywhere;
    word-break: break-all;
    border-radius: 10px;
    padding: 5px;
    margin: 2px calc(8% + -5px);
    color: black;
    position: relative;
    padding-right: 50px;
}

.mess.sent {
    background-color: rgb(198 235 198);
    float: right;
    margin-left: 40px;
    clear: both;
}

.mess.received {
    background-color: white;
    float: left;
    margin-right: 40px;
    clear: both;
}

#chat .message-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    display: none;
    background-color: inherit;
    opacity: 0.9;
    font-size: 1.2em;
    color: gray;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#chat .message-menu {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 140px;
    min-height: 80px;
    background-color: white;
    margin-right: 5px;
    display: none;
    z-index: 3;
    color: gray;
    text-align: center;
    padding: 10px 0px;
    animation: show 0.1s linear;
}

@keyframes show {
    0% {
        transform: scale(0.1)
    }

    100% {
        transform: scale(1)
    }
}

#chat .message-menu.received {
    right: -122px;
}

#chat .message-menu span {
    cursor: pointer;
    line-height: 3;
    width: 100%;
}

#chat .message-menu span:hover {
    background-color: rgb(236, 236, 236);
}

#chat-input {
    display: flex;
    z-index: 333;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #ededed;
}

.info-time{
    width: 100%;
    background-color: #ededed;
    flex: 1 0 auto;
    z-index: 333;
}

.standard-info-box{
    margin-top: 8px;
    width: 100%;
    background-color: #ededed;
    flex: 1 0 auto;
    z-index: 333;
}

.info-standard-box{
    background-color: white;
    padding: 30px 0px 10px 50px;
    margin-top: 10px;
}

.info-standard-box p:first-child{
    color: gray;
    margin-bottom: 10px;
}

.image-sent-box{
    width: 65px;
    display: inline-block;
    overflow: hidden;
    height: 50px;
    margin-right: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.image-sent-box img{
    position: static;
    transform: none;
    min-height: 100%;
}

.info-box{
    flex:0 0 auto;
    justify-content: flex-start!important;
}

.info-box > *{
   margin: 0 30px;
   color: rgb(100, 100, 100);
}

.margin-info{
    margin-top: 20px;
    margin-bottom: 20px;
}

#chat-input>* {
    margin: 0 10px;
}

#chat-input i {
    font-size: 1.5em;
    filter: contrast(0.3);
}

.type-message {
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex: 1 0 auto;
}

