* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span {
    font-size: 0.8em;
    display: inline-block;
}

i {
    font-size: 1.2em;
    cursor: pointer;
}

#root {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#contacts {
    display: inline-block;
    min-width: 300px;
    height: 100%;
    background-color: skyblue;
    cursor: pointer;
}

#profile {
    /* display: inline-block; */
    width: 100%;
    height: 9%;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[class*="profile-picture"] {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-image: url(img/profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.icons {
    filter: contrast(0.3);
    margin-right: 30px;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

#notification-alert {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 15%;
    background-color: skyblue;
}

#notification-alert>* {
    margin-left: 20px;
}

.alert-icon {
    background-color: white;
    color: skyblue;
    border-radius: 50%;
    padding: 15px;
}

/* .alert-icon .turn-on-notification*/

#search-chat {
    /* display: inline-block; */
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color: #ededed;
}

#search-chat .search {
    flex: 1 0 auto;
    padding: 5px 15px;
    display: flex;
    background-color: white;
    border-radius: 30px;
}

#search-chat .search i {
    font-size: 0.8em;
    line-height: 2;
    cursor: pointer;
}

#search-chat .search input, input {
    margin-left: 20px;
    flex: 1 0 auto;
    border: none transparent;
    outline: none;
}

#all-chat {
    /* display: inline-block; */
    width: 100%;
    height: 68%;
    background-color: white;
    overflow: auto;
}

#all-chat .chat-contact {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#all-chat .chat-contact:hover {
    background-color: rgb(243, 243, 243);
}

#all-chat .chat-contact.focus-contact {
    background-color: rgb(224, 224, 224);
}

#all-chat span {
    width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#contact-box {
    display: flex;
    align-items: center;
}

#all-chat .time {
    margin: 0px 5px;
    font-size: 12px;
}

hr {
    width: calc(100% - 85px);
    left: 85px;
    position: relative;
}

#all-chat .profile-picture-contact {
    background-color: white;
    background-image: unset;
    color: skyblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    flex: 0 0 60px;
}

.contact-name {
    margin-left: 10px;
}

#your-chat {
    float: right;
    border-left: 1px solid #c1c1c1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #e5ddd5;
}

#show-info-box{
    border-left: 1px solid #c1c1c1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #e5ddd5;
}

#chat-name {
    z-index: 333;
    width: 100%;
    height: 9%;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-name .icons {
    width: 55px;
    margin: 0 30px;
}

#your-chat .profile-picture-contact {
    background-color: white;
    background-image: unset;
    border-radius: 50%;
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.profile-contact {
    display: flex;
    align-items: center;
    width: 120px;
}

.profile-contact>* {
    flex: 0 0 50px;
}

.profile-contact p {
    margin: 0 10px;
}

.filter-background {
    background-image: url(img/sfondo.png);
    filter: brightness(0.7) opacity(0.4);
    width: 100%;
    position: absolute;
    height: 100%;
}

#chat{
    /* display: inline-block; */
    width: 100%;
    height: 82%;
    overflow: auto;
    position: relative;
}

.info-message {
    /* display: inline-block; */
    width: 100%;
    overflow: auto;
    position: relative;
}

#chat .time {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
}

.mess {
    background-color: red;
    min-width: 40px;
    min-height: 30px;
    float: right;
    clear: both;
    overflow-wrap: anywhere;
    word-break: break-all;
    border-radius: 10px;
    padding: 5px;
    margin: 2px calc(8% + -5px);
    color: black;
    position: relative;
    padding-right: 50px;
}

.mess.sent {
    background-color: rgb(198 235 198);
    float: right;
    margin-left: 40px;
    clear: both;
}

.mess.received {
    background-color: white;
    float: left;
    margin-right: 40px;
    clear: both;
}

#chat .message-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    display: none;
    background-color: inherit;
    height: 100%;
    width: 30px;
    color: gray;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#chat .message-menu {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 140px;
    min-height: 80px;
    background-color: white;
    margin-right: 5px;
    display: none;
    z-index: 3;
    color: gray;
    text-align: center;
    padding: 10px 0px;
    animation: show 0.1s linear;
}

@keyframes show {
    0% {
        transform: scale(0.1)
    }

    100% {
        transform: scale(1)
    }
}

#chat .message-menu.received {
    right: -122px;
}

#chat .message-menu span {
    cursor: pointer;
    line-height: 3;
    width: 100%;
}

#chat .message-menu span:hover {
    background-color: rgb(236, 236, 236);
}

#chat-input {
    display: flex;
    z-index: 333;
    align-items: center;
    width: 100%;
    height: 9%;
    background-color: #ededed;
}

.info-time{
    width: 100%;
    background-color: #ededed;
    flex: 1 0 auto;
    z-index: 333;
}

.info-time-box{
    background-color: white;
    padding: 30px 0px 10px 50px;
}

.info-box{
    justify-content: flex-start!important;
}

.info-box > *{
   margin: 0 30px;
   color: rgb(100, 100, 100);
}

.margin-info{
    margin-top: 20px;
    margin-bottom: 20px;
}

#chat-input>* {
    margin: 0 10px;
}

#chat-input i {
    font-size: 1.5em;
    filter: contrast(0.3);
}

.type-message {
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex: 1 0 auto;
}